@font-face {
    font-family: 'Roboto1';
    src: url('../font/Roboto/Roboto-Black.woff') format('woff');
    src: url('../font/Roboto/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto1';
    src: url('../font/Roboto/Roboto-BlackItalic.woff') format('woff');
    src: url('../font/Roboto/Roboto-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto1';
    src: url('../font/Roboto/Roboto-ExtraBlack.woff') format('woff');
    src: url('../font/Roboto/Roboto-ExtraBlack.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto1';
    src: url('../font/Roboto/Roboto-ExtraBlackItalic.woff') format('woff');
    src: url('../font/Roboto/Roboto-ExtraBlackItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}